@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

body {
  background-color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
  font-weight: 500;
}
a,
a:link {
  color: #000;
}
.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.max-w-1024 {
  max-width: 1024px;
}
